<div class="modal modal__catalog">
    <div class="modal__body">
        <div class="modal__content">
            
            <div class="modal__close">
                <i class="fas fa-times"></i>
            </div>
            <h1 class="title modal__title">
                Скачайте каталог квартир 
                и апартаментов <span>новостроек Москвы</span>
            </h1>
            <p class="modal__subtitle">
                Новые объекты, квартиры и апартаменты в элитных новостройках Москвы по спец цене, идеи и советы экспертов.   
            </p>
            <button class="btn modal__button">Скачать каталог в PDF</button>
        </div>
        
        <div class="modal__img"><img src="assets/img/modals/modal-img.png" alt="Картинка"></div>
    </div>
</div>

<div class="modal modal__quiz">
    <div class="modal__body">
        <div class="modal__content">
            
            <div class="modal__close">
                <i class="fas fa-times"></i>
            </div>
            <div class="row">
                <div class="col-lg-7">
                    <div class="modal__user">
                        <img src="assets/img/modals/modal-women.png" alt="Консультант">
                    </div>
                    <h3 class="modal__name">Мария Коновалова</h3>
                    <span class="modal__job">Эксперт по недвижимости</span>
                    <p class="modal__desc">
                        Здравствуйте, меня зовут Мария, и я помогу вам с выбором недвижимости в новостройках Москвы. Если в ваших планах купить квартиру, чтобы выгодно её перепродать или сдавать в аренду – выберите пункт «для инвестиций». Если вы ищите жилье для себя или близких – ваш пункт «для жизни».
                    </p>
                </div>
                <div class="col-lg-5">
                    <h3 class="modal__caption">
                        С какой целью планируете
                        покупку недвижимости?
                    </h3>
                    <button class="btn modal__quiz-btn">Для себя</button>
                    <button class="btn btn--gray modal__quiz-btn">Для инвестиций</button>
                    <div class="modal__bottom-btn">
                        <button class="modal__skip active">Пропустить</button>
                        <button class="modal__next">Далее</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal modal__request">
    <div class="modal__body">
        <div class="modal__content">
            <div class="modal__close">
                <i class="fas fa-times"></i>
            </div>
            <div class="row">
                <div class="col-lg-7">
                    <div class="modal__slider">
                        <div class="modal__slide">
                            <div class="modal__user">
                                <img src="assets/img/modals/modal-women.png" alt="Консультант">
                            </div>
                            <h3 class="modal__name">Мария Коновалова</h3>
                            <p class="modal__desc">
                                Заполните форму и отправьте заявку на обратный звонок. Наш специалист перезвонит в течении 5 минут
                            </p>
                        </div>
                        <div class="modal__slide">
                            <div class="modal__user">
                                <img src="assets/img/modals/modal-women.png" alt="Консультант">
                            </div>
                            <h3 class="modal__name">Мария Коновалова</h3>
                            <p class="modal__desc">
                                Заполните форму и отправьте заявку на обратный звонок. Наш специалист перезвонит в течении 5 минут
                            </p>
                        </div>
                        <div class="modal__slide">
                            <div class="modal__user">
                                <img src="assets/img/modals/modal-women.png" alt="Консультант">
                            </div>
                            <h3 class="modal__name">Мария Коновалова</h3>
                            <p class="modal__desc">
                                Заполните форму и отправьте заявку на обратный звонок. Наш специалист перезвонит в течении 5 минут
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <form action="#" class="modal__form">
                        <input type="text" class="modal__form-input" name="Имя" required placeholder="Имя" pattern="^[А-Яа-яЁё\s]+$" maxlength="100">
                        <input type="text" class="modal__form-input" name="Телефон" required placeholder="Телефон"  pattern="^((8|\+7)[\- ]?)?(\(?\d{3}\)?[\- ]?)?[\d\- ]{7,10}$" maxlength="18" minlength="10">
                        <input type="mail" class="modal__form-input" name="Email" required placeholder="Email">
                        <button type="submit" class="btn modal__form-btn">Заказать звонок</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
